<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambafamersvoice" >

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="26" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmbaFamersVoice" >
        <activity
            android:name=".DeviceListActivity"
            android:exported="true"
            android:label="@string/title_activity_device_list"
            android:theme="@style/Theme.AmbaFamersVoice.NoActionBar" />
        <activity
            android:name=".Bluetooth"
            android:exported="true" />
        <activity
            android:name=".BusinessVideos.NationalLockdownStrategy"
            android:label="@string/app_name" />
        <activity
            android:name=".FertilizerVideos.UrinePissFertilizer2"
            android:label="@string/app_name" />
        <activity
            android:name=".FertilizerVideos.HumanUrineFertilizer2"
            android:label="@string/app_name" />
        <activity
            android:name=".HarvestVideos.PreserveFoodDocu2"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.MakeOwnFridge"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.RocketStove"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.TreatDiarrhea"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.BuildHutBush1"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.BuildHutBush2"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.CoronaVirusPrevention"
            android:label="@string/app_name" />
        <activity
            android:name=".KnowledgeVideos.HandSanitizer"
            android:label="@string/app_name" />
        <activity
            android:name=".VegetableVideos.DrySeasonVegetables"
            android:label="@string/app_name" />
        <activity
            android:name=".HarvestPage"
            android:exported="true" />
        <activity
            android:name=".FruitPage"
            android:exported="true" />
        <activity
            android:name=".BeePage"
            android:exported="true" />
        <activity
            android:name=".BusinessPage"
            android:exported="true" />
        <activity
            android:name=".FertilizerPage"
            android:exported="true" />
        <activity
            android:name=".StockPage"
            android:exported="true" />
        <activity
            android:name=".AquaPage"
            android:exported="true" />
        <activity
            android:name=".IrrigationPage"
            android:exported="true" />
        <activity
            android:name=".KnowledgePage"
            android:exported="true" />
        <activity
            android:name=".FeedPage"
            android:exported="true" />
        <activity
            android:name=".PestPage"
            android:exported="true" />
        <activity
            android:name=".TubersPage"
            android:exported="true" />
        <activity
            android:name=".CerealsPage"
            android:exported="true" />
        <activity
            android:name=".VegetablesPage"
            android:exported="true" />
        <activity
            android:name=".Video_1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AmbaFamersVoice.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>